@model PreviewFarmViewModel

<div class="card bg-dark mt-4 text-center" style="width: 18rem;">
    <div class="card-header">
        <vc:data-image width="100" image-data="@Model.OwnerAvatarData"></vc:data-image>
    </div>

    <div class="card-body text-white">
        <h5 class="card-title">@Model.Name</h5>
        <h6 class="card-text">@(Model.FirstName) @(Model.LastName)</h6>
        <h6 class="card-text">@(Model.Email)</h6>
        <a asp-controller="Farm" asp-action="View" asp-route-farmId="@Model.FarmId"
           class="btn btn-outline-info mt-2">
            Go to farm
        </a>
    </div>
</div>