@model PreviewInnoGotchiViewModel

@{
    var canSeeDetails = ViewData["CanSeeDetails"] as bool?;
}

<div class="row mt-4 ms-2 me-2 pet-card">
    <div style="height: 186px; width: 150px">
        @await Html.PartialAsync("~/Views/_Partial_Views/Shared/ImageFromComponents.cshtml", Model.Components)
    </div>
    <div class="card-body">
        <input class="pet_id" hidden asp-for="Id"/>
        <h4 class="card-title pt-1">@Model.Name</h4>
        <div>
            <label>Hunger level: <vc:inno-gotchi-status status="@Model.HungerLevel" /></label><br />
            <label>Thirsty level: <vc:inno-gotchi-status status="@Model.ThirstyLevel" /></label><br />
            <label>Age: @Model.Age</label><br/>
        </div>
        <div class="mt-3 body-links">
            <button class="btn btn-outline-secondary btn-dark feed_button @(TryDisableFeed())">Feed</button>
            <button class="btn btn-outline-secondary btn-dark drink_button @(TryDisableDrink())">Drink</button>

            @if (canSeeDetails is true)
            {
                <a asp-controller="InnoGotchies" asp-action="Pet" asp-route-petId="@Model.Id"
                   class="btn btn-outline-secondary btn-dark">
                    Details
                </a>
            }
        </div>
    </div>
</div>

@functions
{
    string TryDisableFeed()
    {
        return Model.IsFeedingAllowable == false ? "disabled" : string.Empty;
    }

    string TryDisableDrink()
    {
        return Model.IsDrinkingAllowable == false ? "disabled" : string.Empty;
    }
}