@model ReadonlyInnoGotchiPreviewViewModel

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            @await Html.PartialAsync("~/Views/_Partial_Views/Shared/ImageFromComponents.cshtml", Model.Components)
        </div>

        <div class="col-lg-10 col-md-8 col-sm-6 col-6 pet-info text-dark" style="background: wheat !important; border-radius: 0.7rem">
            <div class="row">
                @if (Model.IsNewBorn)
                {
                    <h4 class="h4 text-center">Name: @(Model.Name).<vc:inno-gotchi-status status="newborn" /></h4>
                }
                else if (Model.IsDead)
                {
                    <h4 class="h4 text-center">Name: @(Model.Name). <vc:inno-gotchi-status status="dead" /></h4>
                }
                else
                {
                    <h4 class="h4 text-center">Name: @(Model.Name). <vc:inno-gotchi-status status="alive"/></h4>
                }
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 class="my-3 h4">Vital signs</h4>

                    <h6 class="h6">Hunger level: <vc:inno-gotchi-status status="@Model.HungerLevel" /></h6>
                    <h6 class="h6">Thirsty level: <vc:inno-gotchi-status status="@Model.ThirstyLevel" /></h6>
                    <h6 class="h6">Age: @Model.Age</h6>
                </div>
                <div class="col-md-6">
                    <h4 class="my-3 h4">Owner's information</h4>

                    <h6 class="h6">First name: @Model.ProfileFirstName</h6>
                    <h6 class="h6">Last name: @Model.ProfileLastName</h6>
                    <h6 class="h6">Farm name: @Model.ProfileFarmName</h6>
                </div>
            </div>
        </div>
    </div>
</div>