@model PhlegmaticOne.InnoGotchi.Web.ViewModels.Statistics.PreviewFarmStatisticsViewModel

<div class="row d-flex justify-content-center align-items-center h-100 me-sm-3 ms-sm-3 me-3 ms-3 me-md-0 ms-md-0">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mb-lg-0 bg-dark text-white" style="border-radius: 1rem">
        <h5 class="h5 p-3 text-center">Farm overview</h5>
        <hr class="mt-0 mb-4 bg-white">
        <div class="row pt-1 ps-3">
            <div class="col-sm-6 col-md-6 col-lg-12 mb-3">
                <h6 class="h6">Profile user</h6>
                <p class="text-white-50">@(Model.ProfileFirstName) @(Model.ProfileLastName)</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-12 mb-3">
                <h6 class="h6">Email</h6>
                <p class="text-white-50">@Model.ProfileEmail</p>
            </div>
        </div>
        <div class="row pt-1 ps-3">
            <div class="col-sm-6 col-md-6 col-lg-12 mb-3">
                <h6 class="h6">Total InnoGotchies</h6>
                <p class="text-white-50">@Model.PetsCount</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-12 mb-3">
                <h6 class="h6">Farm name</h6>
                <p class="text-white-50">@Model.FarmName</p>
            </div>
        </div>
    </div>
</div>